@media screen and (max-width: 1200px) {
  .contact-container h4 {
    font-size: 20px;
  }
}

/* tablet- device */
@media screen and (max-width: 1024px) {
  .banner-video {
    height: 400px;
  }

  .btn {
    padding: 15px 20px;
    font-weight: 400px;
  }
}

/* mobile divice up to 420 */
@media screen and (max-width: 640px) {
  .btn {
    padding: 10px 15px;

  }
  .header-content {
    padding: 15px 20px;
  }
  .banner-content h2 {
    line-height: 50px;
    font-size: 35px;
  }

  .discuss-banner {
    flex-direction: column-reverse;
  }
  .card-box a {
  font-size: 15px;
}
  .contact-container {
    padding: 10px 30px;
  }
  .contact-container h4 {
    font-size: 15px;
  }

}
