* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(#b8e7fa, #e6e6fa);
}

.btn {
  padding: 17px 24px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(#ffa500, #ffd447);
  font-size: 20px;
  font-weight: 600px;
}

#header-container {
  background-color: #ffffff;
  border: 1px solid #c6dbff;
}
.header-content {
  display: flex;
  justify-content: space-between;
  padding: 24px 100px;
  align-items: center;
}
.header-content h3 {
  font-size: 28px;
  font: weight 800px;
}
span {
  color: #ffa500;
}

.banner {
  margin: 100px auto;
  width: 87.5%;
  text-align: center;
  padding: 40px 60px;
  background-color: #e6edf9;
  border-radius: 16px;
}

.banner-content h2 {
  line-height: 68px;
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 20px;
}
.banner-content p {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 26px;
}
